Dear ${invoiceSummary.customerid}

We received your order on ${invoiceSummary.dateReceived}. 

#if(${invoiceSummary.successItemsCount} > 0)
#if(${invoiceSummary.successItemsCount} == 1)
${invoiceSummary.successItemsCount} item was processed successfully.
#else
${invoiceSummary.successItemsCount} items were processed successfully.
#end
#end

#if(${invoiceSummary.errorItem} && ${invoiceSummary.errorItem.errorItem})
Items not processed:
	#foreach($erroritem in ${invoiceSummary.errorItem.errorItem})
- $erroritem
	#end
#end

Total bill for the order is ${invoiceSummary.totalAmount}